.container {
	width: 30%;
	height: 100px;
	padding:12px;
	display: inline-block;
	
	margin-right:1%;
	
	background-color: rgb(88.2%, 88.2%, 88.2%);
	border-radius: 2px;
	img {
		height:100%;
		max-width:50%;
		float: right;
	}
	h5 {
		width: 50%;
		float: left;
	}
}